.center {
    width: 700px; /* Ширина элемента в пикселах */
    margin: auto; /* Выравниваем по центру */
}

tr.hover {
    cursor: pointer;
    /* whatever other hover styles you want */
}

.error {
    color: red;
    font-weight: bold;
}

.fixed-table {
    width: initial;
}

.td_id {
    width: 100px;
}

.td_category {
    width: 450px;
}

.background-color-red {
    background-color: #ff4d43;
}

.background-color-green {
    background-color: lawngreen;
}

.background-color-orange {
    background-color: orange;
}

.background-color-white {
    background-color: white;
}