.center {
    width: 700px; /* Ширина элемента в пикселах */
    margin: auto; /* Выравниваем по центру */
}

tr.hover {
    cursor: pointer;
    /* whatever other hover styles you want */
}

.error {
    color: red; font-weight: bold;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}